In [21]:
import pandas as pd
import numpy as np

In [22]:
humid = pd.read_csv('archive (1)\humidity.csv')[pd.read_csv('archive (1)\humidity.csv')['datetime'].between('2015-11-01 01:00:00', '2017-06-31 00:00:00')]['San Antonio']
weather = pd.read_csv('archive (1)\weather_description.csv')[pd.read_csv('archive (1)\weather_description.csv')['datetime'].between('2015-11-01 01:00:00', '2017-06-31 00:00:00')]['San Antonio']
temp = pd.read_csv('archive (1)\\temperature.csv')[pd.read_csv('archive (1)\\temperature.csv')['datetime'].between('2015-11-01 01:00:00', '2017-06-31 00:00:00')]['San Antonio']

In [23]:
date = pd.read_csv('archive (1)\\temperature.csv')[pd.read_csv('archive (1)\\temperature.csv')['datetime'].between('2015-11-01 01:00:00', '2017-06-31 00:00:00')]['datetime'].str.split().str[0]
time = pd.read_csv('archive (1)\\temperature.csv')[pd.read_csv('archive (1)\\temperature.csv')['datetime'].between('2015-11-01 01:00:00', '2017-06-31 00:00:00')]['datetime'].str.split().str[1]

In [24]:
col = ['date', 'time', 'humidity', 'weather', 'temperature']

In [25]:
df = pd.concat([date, time ,humid, weather, temp], axis=1)
df.head()

         datetime  datetime  San Antonio      San Antonio  San Antonio
27013  2015-11-01  01:00:00         75.0    broken clouds   295.935188
27014  2015-11-01  02:00:00         82.0             mist   293.860000
27015  2015-11-01  03:00:00         87.0  overcast clouds   293.104524
27016  2015-11-01  04:00:00         93.0       light rain   292.280000
27017  2015-11-01  05:00:00         77.0  overcast clouds   291.650000

In [26]:
df.columns = col

In [27]:
df.head()

             date      time  humidity          weather  temperature
27013  2015-11-01  01:00:00      75.0    broken clouds   295.935188
27014  2015-11-01  02:00:00      82.0             mist   293.860000
27015  2015-11-01  03:00:00      87.0  overcast clouds   293.104524
27016  2015-11-01  04:00:00      93.0       light rain   292.280000
27017  2015-11-01  05:00:00      77.0  overcast clouds   291.650000

In [28]:
df.to_csv('weather_data.csv')

In [29]:
col = ['holidays', 'date']

In [30]:
holidays = pd.read_csv('HolidaysIN13-17.csv', usecols=['response__holidays__date__iso', 'response__holidays__name'])
holidays.head()

    response__holidays__name response__holidays__date__iso
0             New Year's Day                    2014-01-01
1  Guru Govind Singh Jayanti                    2014-01-07
2                     Pongal                    2014-01-14
3            Makar Sankranti                    2014-01-14
4   Milad un-Nabi/Id-e-Milad                    2014-01-14

In [31]:
holidays.columns = col

In [32]:
holidays.head()

                    holidays        date
0             New Year's Day  2014-01-01
1  Guru Govind Singh Jayanti  2014-01-07
2                     Pongal  2014-01-14
3            Makar Sankranti  2014-01-14
4   Milad un-Nabi/Id-e-Milad  2014-01-14

In [33]:
holidays = holidays[holidays['date'].between('2015-11-01', '2017-06-31')]

In [34]:
holidays.to_csv('holidays.csv')